*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body{
    margin: 0 auto;
    max-width: 1920px;
    font-size: clamp(10px, 1.0vw, 20px);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

header, nav ul{
    position: relative;
    display: flex;
    justify-content: space-between;
}

section header{
margin: 0 auto;
  width: 95%;
  padding: 2% 0;
  z-index: 1;
  position: relative;
}
nav ul li{
    padding: 1em 2em;
}
nav ul li, a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}
nav ul li, a.active {
    color: #F7931E;
}
.banner-slide{
    max-width: 1920px;
}
.banner-slide::before{
content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.5%;
  background-color: rgba(0, 0, 0);
  opacity: 0.4;
}
.herobanner{
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
}


.img-logo{
    width: 15%;
}
.container{
    margin: 0 auto;
    width: 95%;
}
.herobanner img{
    width: 100%;
  aspect-ratio: 16/7.7;
  object-fit: cover;
}

.hero-title{
    margin: 0 auto;
    margin-top: 5%;
    font-size: clamp(53px, 5.2vw, 100px);
    font-family: "Cinzel", serif;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
}


/* about */

.about{
display: flex;
  justify-content: space-between;
  margin: 0 auto;
    margin-top: 0px;
  margin-top: 20%;
  width: 87%;
}

.box-about{
    width: 50%;
}

.title-section{
    font-size: clamp(40px, 4.0vw, 80px);
  font-family: "Cinzel", serif;
  font-weight: 600;
}
.description{
    font-size: clamp(10px, 1.0vw, 20px);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

/* accomodation */

.acomodation{
margin: 0 auto;
    margin-top: 0px;
  width: 87%;
  margin-top: 10%;
}

.acomodation .title-section, .offer .title-section{
    text-align: center;
}
.acomodation-room{
margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  gap: 35px;
}
.box-img{
  overflow: hidden;
  border-radius: 15px;
  height: 16vw;
  max-height: 358px;
}
.box-offer-img{
overflow: hidden;
  border-radius: 15px;
  height: 24vw;
  max-height: 500px;
}
.box-acomodation{
    width: 87%;
}
.box-acomodation img, .box-offer img{
    width: 100%;
}
.box-acomodation img, .box-offer-img img {
  transition: transform 0.3s ease; 
}
.box-img:hover img, .box-offer-img:hover img{
    overflow: hidden;
    transform: scale(1.1);
}
.acomodation .description{
    margin: 0 auto;
    text-align: center;
    width: 40%;
}
.title-room{
    font-family: "Cinzel", serif;
    font-size: clamp(15px, 1.5vw, 30px);
    font-weight: 600;
    color: #2B2828;
}
.description-room{
    margin: 0% 0 3%;
}
.box-acomodation a{
    color: #2B2828;
}

.offer{
margin: 0 auto;
    margin-top: 0px;
  margin-top: 10%;
  width: 87%;
}

.offer-package{
    margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 35px;
}

.box-offer{
    margin-bottom: 4%;
    width: 87%;
}
.box-offer a{
color: #2B2828;
  border: 3px solid #F7931E;
  border-radius: 15px;
  padding: 0.4em 2em;
}

.gallery{
    margin: 10% 0;
}
.box-gallery {
  position: relative;     
  overflow: hidden;        
}

.box-gallery {
  position: relative;
  overflow: hidden;
}

.box-gallery img {
  width: 100%;
  display: block;
}

.box-gallery::before {
  content: "";
  position: absolute;
  inset: 0;               
  background-color: rgba(0, 0, 0, 0.35);
  opacity: 1;
  transition: 0.2s ease-in-out;
}


.box-gallery:hover::before {
  opacity: 1;   
  background-color: rgba(0, 0, 0, 0);
}

.grid-gallery{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    position: relative;
}


/* accomodation page */
.hero-banner img{
    position: absolute;
    width: 100%;
}
.banner-accomodation img{
    width: 100%;
  aspect-ratio: 16/5.7;
  object-fit: cover;
}
.banner-accomodation::before {
content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 74.4%;
  background-color: rgba(0, 0, 0);
  opacity: 0.4;
}

.room-list{
    margin: 0 auto;
    margin-top: 25%;
    width: 87%;
}

.room-list-content{
    margin-top: 10%;
display: flex;
  justify-content: space-between;
  gap: 7%;
}
.room-list-content-reverse{
        margin-top: 10%;
display: flex;
  justify-content: space-between;
  gap: 7%;
  flex-direction: row-reverse;
}

.box-room-img{
   width: 54%;
   overflow: hidden;
}
.box-room-img img{
    width: 100%;
}
.box-room-description{
width: 38%;
  align-self: center;
}

.box-room-description .description-room{
    margin: 0% 0 3%;
  width: 75%;
}

footer{
    margin-top: 10%;
}
.img-footer{
    width: 100%;
}