*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body{
    margin: 0 auto;
    max-width: 1920px;
    font-size: clamp(10px, 1.0vw, 20px);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

header, nav ul{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu .dropdown-menu li a, .menu .dropdown a {
    border: none;
}


.menu > li {
    position: relative;
}

.menu a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background: black;
    border: 1px solid #ddd;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);

    transition: 
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0.3s;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu li a {
    padding: 0.5em;
    white-space: nowrap;
}

.dropdown-menu li:last-child a{
  padding: 0.5em!important;
  border: none;
  padding: unset;
  border-radius: unset;
}

.dropdown-menu li a:hover {
    background: #f0f0f0;
    color: #2B2828;
}


section header{
margin: 0 auto;
  width: 95%;
  padding: 2% 0;
  z-index: 1;
  position: relative;
}
nav ul li{
    padding: 1em 1.2em;
}
nav ul li, a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
}
nav ul li, a.active {
    color: #F7931E;
}
.banner-slide{
    max-width: 1920px;
}
.banner-swiper::before{
content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  max-height: 950px;
  background-color: rgba(0, 0, 0);
  opacity: 0.4;
}
.herobanner{
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
}


.img-logo{
    width: 15%;
}
.container{
    margin: 0 auto;
    width: 95%;
}
.herobanner img{
  max-width: 1920px;
    width: 100%;
  aspect-ratio: 16/7.7;
  object-fit: cover;
}

.hero-title{
    margin: 0 auto;
    margin-top: 5%;
    font-size: clamp(53px, 5.2vw, 100px);
    font-family: "Cinzel", serif;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 0;
}


/* about */

.about{
  margin: 0 auto;
    margin-top: 0px;
  margin-top: 20%;
  width: 87%;
}

.box-about{
    width: 100%;
}

.title-section{
    font-size: clamp(40px, 4.0vw, 80px);
  font-family: "Cinzel", serif;
  font-weight: 600;
}
.description{
    font-size: clamp(10px, 1.0vw, 20px);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.box-about .title-section, .box-about .description{
  text-align: center;
}
.box-about .title-section{
line-height: 1;
  margin-bottom: 2%;
}
.box-about .description{
  width: 62%;
  margin: 0 auto;
}

/* accomodation */

.acomodation{
margin: 0 auto;
    margin-top: 0px;
  width: 87%;
  margin-top: 7%;
}

.acomodation .title-section, .offer .title-section{
    text-align: center;
}
.acomodation-room{
margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  gap: 35px;
}

.facilities-list{
  display: flex;
}
.box-list{
  width: 50%;
}
.box-img{
  overflow: hidden;
  border-radius: 15px;
  height: 16vw;
  max-height: 358px;
}
.box-offer-img{
overflow: hidden;
  border-radius: 15px;
  height: 24vw;
  max-height: 500px;
  object-fit: cover;
  aspect-ratio: 7/5;
  object-position: center;
}
.box-acomodation{
    width: 87%;
}
.box-acomodation img, .box-offer img{
    width: 100%;
}
.box-acomodation img, .box-offer-img img {
  transition: transform 0.3s ease; 
  object-fit: cover;
  aspect-ratio: 7/5;
  object-position: center;
}
.box-img:hover img, .box-offer-img:hover img{
    overflow: hidden;
    transform: scale(1.1);
}
.acomodation .description{
    margin: 0 auto;
    text-align: center;
    width: 45%;
}
.title-room{
    font-family: "Cinzel", serif;
    font-size: clamp(15px, 1.5vw, 30px);
    font-weight: 600;
    color: #2B2828;
}
.description-room{
    margin: 0% 0 3%;
}
.box-acomodation a{
    color: #2B2828;
}


/* Offer */
.offer{
margin: 0 auto;
    margin-top: 0px;
  margin-top: 10%;
  width: 87%;
}

.offer-package{
    margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 35px;
}

.box-offer{
    margin-bottom: 4%;
    width: 87%;
}
.box-offer a, .box-room-description a{
color: #2B2828;
  border: 3px solid #F7931E;
  border-radius: 15px;
  padding: 0.4em 2em;
}
nav ul li:last-child a {
  border: 3px solid #F7931E;
  border-radius: 15px;
  padding: 0.4em 3em;
}

.gallery{
    margin: 10% 0;
}
.box-gallery {
  position: relative;     
  overflow: hidden;        
}

.box-gallery {
  position: relative;
  overflow: hidden;
}

.box-gallery img {
  width: 100%;
  display: block;
}

.box-gallery::before {
  content: "";
  position: absolute;
  inset: 0;               
  background-color: rgba(0, 0, 0, 0.35);
  opacity: 1;
  transition: 0.2s ease-in-out;
}


.box-gallery:hover::before {
  opacity: 1;   
  background-color: rgba(0, 0, 0, 0);
}

.grid-gallery{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    position: relative;
}


/* accomodation page */

.banner-accomodation{
  margin-bottom: 25%;
}
.hero-banner img{
    position: absolute;
    width: 100%;
}
.banner-accomodation img{
    width: 100%;
  aspect-ratio: 16/5.7;
  object-fit: cover;
}
.herobanner::before {
content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1920px;
  height: 90vh;
  max-height: 680px;
  background-color: rgba(0, 0, 0);
  opacity: 0.4;
}

.room-list{
margin: 0 auto;
  width: 60%;
}
.content-list{
margin: 0 auto;
  width: 84%;
}

.room-list-content{
display: flex;
  justify-content: space-between;
  gap: 7%;
}
.room-list-content-reverse{
        padding-top: 10%;
        padding-bottom: 10%;
display: flex;
  justify-content: space-between;
  gap: 7%;
  flex-direction: row-reverse;
}

.box-room-img-accomodation{
  margin: 0 auto;
   width: 50%;
   overflow: hidden;
   margin-bottom: 3%;
}
.box-room-img{
   width: 54%;
   overflow: hidden;
}

.other-room{
  margin-top: 10%;
  margin-bottom: 10%;
  overflow: hidden;
}
.other-room .title-room{
  margin-bottom: 2.5%;
}
.other-room a{
  color: #2B2828;
}

.other-room img{
    width: 100%;
  aspect-ratio: 7/7;
  object-fit: cover;
  object-position: center;
}
 .box-room-img-accomodation img{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.box-room-description-accomodation{
  width: 45%;
}
.box-room-img img{
  width: 100%;
  aspect-ratio: 7/5;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}
.box-room-description{
width: 38%;
  align-self: center;
}

.box-room-description .description-room{
    margin: 0% 0 5%;
  width: 100%;
}

.img-footer{
    width: 100%;
}

.fade-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-left {
  opacity: 0;
  transform: translateX(-40px);
}
.fade-left.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.fade-right {
  opacity: 0;
  transform: translateX(40px);
}
.fade-right.is-visible {
  opacity: 1;
  transform: translateX(0);
}


@media(min-width: 360px) and (max-width: 640px){

  .hero-title {
  margin: 0 auto;
    margin-top: 0px;
  margin-top: 5%;
  font-size: clamp(40px, 11.1vw, 71px);
  font-family: "Cinzel", serif;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
}

  .title-section {
  font-size: clamp(30px, 8.3vw, 53px);
  font-family: "Cinzel", serif;
  font-weight: 600;
}

  .box-room-description, .box-room-img, .acomodation .description, .box-about .description{
    width: 100%;
  }
  .herobanner img {
  width: 100%;
  aspect-ratio: 6.8/7.7;
  object-fit: cover;
}
  .acomodation-room{
    grid-template-columns: repeat(2, 50%);
  gap: 25px;
  }
  .box-img {
  overflow: hidden;
  border-radius: 15px;
  height: 26vw;
  max-height: 658px;
}
.room-list-content, .room-list-content-reverse{
  flex-direction: column;
}
}